#infoLi{
    border:solid 8px rgb(133, 75, 241);
    border-radius: 15px;
    padding:10px;
    margin:15px;
    background-color: rgba(24, 179, 240, 0.813);
}
#checkboxDiv{
    display:flex;
    justify-content: center;
    font-size:50px;

}
#bigDiv{
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows: auto auto;
    grid-column-gap:70px;
    text-align:justify;
    margin-left: 5px;
}
#info-image{
    box-shadow: -10px 7px 5px navy;
    width:400px;
    height:350px;
    border:solid 4px rgba(4, 4, 4, 0.887);
    border-radius:30px;

}
#categoryTitle{
    text-align: center;
}
#checkboxId{
    width:100px;
}

#link-style{
    text-decoration: none;
    font-size: 22px;
    color:  rgb(41, 51, 236);
    
}

#link-style:hover{
    text-decoration: none;
    font-size: 25.9px;
    color: red;
    
}