#quizz-body {
    background-image: url('../beach.jpeg');
    background-size: cover;
    margin-top: -16px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-column-gap: 1rem;
}
#scores{
    margin-top: 9%;
    margin-right: 1rem;
    /* margin-bottom: 4280px; */
    height: 550px; /* <-- THIS allowed us to do sticky! */
    top:0;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgba(46, 161, 243, 0.672);
    border-radius: 60px;
    border: 30px Solid rgba(238, 242, 240, 0.511);
    padding: 5%;
    font-weight: bold;
    font-size: 20px;
    border-style:dotted;
}

#questions {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-self: center;
    margin-left: 1rem;
    margin-top: 6%;
    margin-bottom: 1280px;
    background-color: rgba(46, 161, 243, 0.672);
    border-radius: 60px;
    border: 60px Solid rgba(238, 242, 240, 0.511);
    padding: 5%;
    font-weight: bold;
    border-style:dotted;
    color: rgb(56, 56, 56);
}

#questions-ul {
    list-style: none;
}

#question-li {
    border-radius: 15px;
    border: 2px solid rgb(237, 233, 233);
    margin: 5px;
    padding:5px;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#button1:hover {
    background-color: fuchsia;
    color: white;
}
#button2:hover {
    background-color: fuchsia;
    color: white;
}

#button1 {
    font-size: 20px;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(241, 241, 245);
    background-color: rgb(244, 227, 165);
    font-family: 'Happy Monkey', 'Sans Serif';
}

#questions-p{
    font-size: 25px;
}

.randomise-button {
    font-family: 'Happy Monkey', 'Sans Serif';
    font-size: 25px;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(241, 241, 245);
    background-color: rgb(244, 227, 165);
    margin: 0 auto;
    display: flex;
    justify-content: center;
        
}

.randomise-button:hover {
    background-color: fuchsia;
    color: white;
}