#scores-body{
    border: 4px solid rgb(211, 93, 93);
    border-radius: 10%;
    padding: 5%;
    background-color: rgb(244, 216, 165);
}

.answers {
    font-size: 22px;
    margin-top: 10%;
}

#title {
    font-size: 22px;
    margin-bottom: 8%;
    text-align: center;
}

.number{
    text-align: center;
}

